.transation-content{
  box-sizing: border-box;
  position: relative;
  min-width: 500px;
}

.transation-content .line{
  padding: 0 6px;
  color: #e8e8e8;
}

.ant-table-thead > tr.ant-table-row-hover > td, 
.ant-table-tbody > tr.ant-table-row-hover > td, 
.ant-table-thead > tr:hover > td, 
.ant-table-tbody > tr:hover > td{
  background-color: #2A2F3C;
}
