.address-manger{
  padding-right: 30px;
  width: 100%;
}
.address-manger ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.address-manger .li-item{
  flex: 1;
  margin-left: 30px;
}
.address-manger h4{
  line-height: 20px;
  font-size: 12px;
  color: #dadada;
}
.address-manger .btn-block{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 26px;
}
.address-manger .delete{
  color: #d4a668;
  cursor: pointer;
}