.google-popup{
  padding: 10px 20px 10px;
}
.google-popup .google-btn{
  margin-top: 30px;
  text-align: center;
}

.google-popup .google-btn button{
  width: 100px;
  height: 36px;
}
.google-popup .google-btn button:nth-child(1){
  margin-right: 30px;
}
.google-popup .error-tip{
  height: 40px;
  line-height: 40px;
  color: #d42f2f;
}