.notice{
  width: 100%;
  padding: 20px 20px 0;
  box-sizing: border-box;
}
.notice .notice-container{
  width: 100%;
  padding: 40px;
  background: #292f3d;
}
.notice .notice-container h4{
  color: #dadada;
  font-size: 20px;
}
.notice  .ant-list-split .ant-list-item{
  border-bottom: 1px solid #373C47;
}
.notice .ant-list-item-content{
  color: #dadada;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.notice .notice-title{
  word-break: break-all;
  flex: 1;
}
.notice .notice-time{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.notice .ant-list-something-after-last-item .ant-spin-container > .ant-list-item:last-child{
  border-bottom: 1px solid #373C47;
}