
.sign-up{
  padding: 80px 0;
}
.signup-form{
  padding: 20px 50px 80px;
  width: 500px;
  background: #2c3644;
  margin: 0 auto;
}
.signup-form h4{
  color: #e8e8ee;
  font-size: 20px;
  text-align: center;
  height: 70px;
  line-height: 60px;
}
.signup-form .iconfont{
  color: #fff;
}
.signup-form .ant-input-affix-wrapper .ant-input:not(:first-child){
  padding-left: 40px;
}
.signup-form .mail-code input{
  width: 260px;
}
.signup-form .mail-code-btn{
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
}
.signup-form .mail-code .ant-form-item-control{
  position: relative;
}
.signup-form .mail-code .ant-form-item-children{
  position: initial;
}
.signup-form .submit-btn{
  display: 'flex';
  justify-content: 'center';
  margin-top: 30px;
}
.signup-form .has-error .ant-form-explain, .signup-form .has-error .ant-form-split{
  padding-top: 5px;
}
.signup-form .agree-text span{
  color: #e8e8e8;
}
.signup-form .link-agree{
  color: #d4a668;
}


