.invite-box {
  margin-bottom: 20px;
  background-color: #2e3442;
}
.invite-box .invite-box-tit {
  padding: 0;
  padding-left: 30px;
  line-height: 48px;
  color: #dadada;
  background-color: #242833;
}
.invite-box .invite-box-cont {
  padding: 40px 30px;
}
.invite-box .ant-input-group-addon {
  cursor: pointer;
}
.invite-box .invite-box-cont-cell {
  
}