.graphic_popup{
  padding: 10px 10px 10px;
}
.graphic_popup .iconfont{
  color: #fff;
}
.graphic_popup .ant-input-affix-wrapper .ant-input:not(:first-child){
  padding-left: 40px;
}
.graphic_popup .error_tip{
  color: #d42f2f;
  line-height: 30px;
  height: 30px;
}
.graphic_popup .graphic_content{
  display: flex;
}
.graphic_popup .graphic_content img{
  border: 1px solid #e8e8e8;
  cursor: pointer;
  border-left: 0;
  height: 42px;
  width: 120px;
}
.graphic_popup .graphic_btn{
  margin-top: 30px;
  text-align: center;
}
.graphic_popup .graphic_btn button{
  width: 100px;
  height: 36px;
}
.graphic_popup .graphic_btn button:nth-child(1){
  margin-right: 20px;
}
.graphic_popup .graphic_img_text{
  color: #e8e8e8;
  height: 30px;
  line-height: 30px;
  text-align: right;
}