.help{
  width: 100%;
  padding: 20px 20px 0;
  box-sizing: border-box;
}
.help .help-container{
  width: 100%;
  padding: 40px;
  background: #292f3d;
}
.help .help-container h4{
  color: #dadada;
  font-size: 20px;
  margin-bottom: 20px;
}
.help  .ant-list-split .ant-list-item{
  border-bottom: 1px solid #373C47;
}
.help .ant-list-item-content{
  color: #dadada;
  cursor: pointer;
  font-size: 14px;
}
.help .ant-list-something-after-last-item .ant-spin-container > .ant-list-item:last-child{
  border-bottom: 1px solid #373C47;
}