

.withdraw_content .wi_number{
  position: relative;
}
.withdraw_content .my_count{
  display: flex;
  justify-content: space-between;
}
.withdraw_content .my_count li{
  width: 45%;
}
.withdraw_content .my_count .title{
  line-height: 30px;
}
.withdraw_content .my_count .money{
  position: relative;
}

.withdraw_content .my_count .number{
  position: relative;
}
.withdraw_content .my_count .money span, .my_count .number span{
  position: absolute;
  right: 10px;
  top: 8px;
}
.withdraw_content .btn_block{
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.withdraw_content .btn_block .btn{
  width: 300px;
  padding: 20px 0 0 20px;;
}
.withdraw_content{
  padding-left: 20px;
}
.withdraw_content .title{
  line-height: 30px;
}
.withdraw_content .count_top{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.withdraw_content .rest_number{
  color: #e0c192;
  margin: 0 30px 0 10px;
  font-weight: 600;
}
.withdraw_content .limite_number{
  color: #e0c192;
  margin: 0 30px 0 10px;
  font-weight: 600;
}
.withdraw_content .min_withdraw{
  color: #e0c192;
  margin: 0 20px;
  font-weight: 600;
}