

.withdraw-content .wi-number{
  position: relative;
}
.withdraw-content .my-count{
  display: flex;
  justify-content: space-between;
}
.withdraw-content .my-count li{
  width: 45%;
}
.withdraw-content .my-count .title{
  line-height: 30px;
}
.withdraw-content .my-count .money{
  position: relative;
}

.withdraw-content .my-count .number{
  position: relative;
}
.withdraw-content .my-count .money span, .my-count .number span{
  position: absolute;
  right: 10px;
  top: 8px;
}
.withdraw-content .btn-block{
  display: flex;
  justify-content: space-between;
  color: #e8e8e8;
}
.withdraw-content .btn-block .btn{
  width: 300px;
  padding: 20px 0 0 20px;;
}
.withdraw-content{
  padding-left: 20px;
}
.withdraw-content .title{
  line-height: 30px;
}
.withdraw-content .count-top{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.withdraw-content .rest-number{
  color: #e0c192;
  margin: 0 30px 0 10px;
  font-weight: 600;
}
.withdraw-content .limite-number{
  color: #e0c192;
  margin: 0 30px 0 10px;
  font-weight: 600;
}
.withdraw-content .min-withdraw{
  color: #e0c192;
  margin: 0 20px;
  font-weight: 600;
}