.content.trade {
  background-color: rgb(51, 60, 75);
}

.trade-area {
  margin-top: 20px;
}

.trade-left {
  flex: 1 0 250px;
  margin-right: 10px;
  overflow-x: hidden;
}

.trade-center {
  flex: 1 0 630px;
  margin-right: 10px;
  overflow-x: hidden;
}

.trade-right {
  flex: 1 0 300px;
  overflow-x: hidden;
}

.trade-plate {
  width: 100%;
  margin-bottom: 10px;
  color: #dadada;
  box-shadow: 0 0 15px #252b36;
  background-color: #292f3d;
}

.trade-plate-header {
  position: relative;
  height: 52px;
  padding: 0 20px;
  line-height: 50px;
  border-bottom: 1px solid #d4a668;
}

.trade-plate-header .market-tit {
  position: relative;
  font-size: 16px;
}

.trade-plate-header .market-tabs {
  display: flex;
  margin: 0 -20px;
  line-height: 34px;
}

.trade-plate-header .market-tabs > li {
  flex: 1 1 40px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(210, 210, 210);
  cursor: pointer;
}

.trade-plate-header .market-tabs > li.active {
  color: #d4a668;
}

.trade-plate-header .market-tabs > li:last-child {
  flex: 2 2 40px;
  margin-left: auto;
}

.trade-plate-header .market-tabs .icon-shoucang,
.trade-plate-header .market-tabs .icon-shoucang-active {
  vertical-align: top;
  font-size: 16px;
}

.trade-plate-header a:link,
.trade-plate-header a:visited,
.trade-plate-header-text {
  color: #d4a668;
}

.trade-plate-header-price {
  padding-left: 20px;
}

.trade-plate-header-right {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.trade-plate-tab .iconfont {
  display: inline-block;
  width: 10%;
  min-width: 30px;
  text-align: center;
  color: #585858;
  cursor: pointer;
}

.trade-plate-tab .iconfont:hover,
.trade-plate-tab .iconfont.active {
  color: #d4a668;
}

.trade-plate-header-right .ant-select {
  margin-left: 5px;
}

.trade-plate-tit {
  display: flex;
  line-height: 42px;
  font-size: 12px;
  border-bottom: 1px solid #3f4451;
}

.trade-plate-tit.cell-3 {
  font-size: 14px;
}

.trade-plate-tit.Kline {
  color: rgb(175, 163, 115);
}

.trade-plate-tit.Kline strong {
  padding-left: 5px;
  font-weight: bolder;
}

.trade-plate-tit-cell {
  flex: 1 1 80px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trade-plate-tit-cell.sorter {
  cursor: pointer;
}

.trade-plate-tit-cell .ant-table-column-sorter {
  margin-left: 2px;
}

.trade-plate-tit-cell .ant-table-column-sorter .anticon-caret-up,
.trade-plate-tit-cell .ant-table-column-sorter .anticon-caret-down {
  color: rgb(100, 93, 66);
  font-size: 12px;
}

.trade-plate-container {
  position: relative;
  height: 380px;
}

.trade-plate-list {
  position: relative;
  height: 937px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trade-plate-container table,
.trade-plate-list table {
  width: 100%;
}

.trade-plate-list-wrap {
  position: relative;
  flex-basis: 48%;
  border: #f00;
  overflow: hidden;
}

.trade-plate-list-wrap:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trade-plate-container tr,
.trade-plate-list tr {
  display: flex;
}

.trade-plate-container td {
  flex: 1 0 80px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.trade-plate-list td {
  flex: 1 0 80px;
  line-height: 29px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.trade-plate-container.stream td,
.trade-plate-list tr.empty td {
  cursor: inherit;
}

.trade-plate-list td:nth-child(1),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(1) {
  flex: 1 0 60px;
}

.trade-plate-list td:nth-child(2),
.trade-plate-list td:nth-child(3),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(2),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(3) {
  flex: 1 0 80px;
}

.trade-plate-list td:nth-child(4),
.trade-plate-tit.list .trade-plate-tit-cell:nth-child(4) {
  flex: 1 0 90px;
}

.trade-plate-container.market tr:hover,
.trade-plate-container.market tr.selected {
  background-color: #3f4657;
}

.trade-plate-container .coin-wrap {
  display: inline-block;
  width: 30px;
  position: relative;
  text-align: left;
}

.trade-plate-container .coin-wrap .iconfont {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 18px;
  transform: translateY(-52%);
}

.trade-plate-container .coin-wrap .icon-shoucang {
  color: #585858;
}

.trade-plate-container .coin-wrap .icon-shoucang-active {
  color: #d4a668;
}

/* tabs style */

.trade-plate .ant-tabs-bar {
  margin-bottom: 0;
}

.trade-plate .ant-tabs-nav .ant-tabs-tab {
  padding: 0 16px;
  height: 54px;
  line-height: 53px;
  color: #dadada;
}

.trade-plate .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
  color: #d4a668;
}

.trade-plate .ant-tabs-nav .ant-tabs-tab .icon-web-icon- {
  margin-left: 5px;
  color: #fd3737;
}

.trade-plate .ant-tabs-content {
  position: relative;
  width: 100%;
}

.trade-plate .ant-tabs-content .ant-tabs-tabpane {
  position: relative;
  height: 423px;
  color: #dadada;
}

/* 合并select框 */

.merge-dropdown {
  border: 1px solid #585858;
  background-color: #252b36;
}

.merge-dropdown .ant-select-dropdown-menu-item {
  color: #dadada;
  background-color: #252b36;
  padding: 10px 12px;
}

.merge-dropdown .ant-select-dropdown-menu-item:hover,
.merge-dropdown .ant-select-dropdown-menu-item-selected {
  color: #d4a668;
  background-color: #434447;
}

/* 最新价 */

.latest-price {
  display: flex;
  justify-content: space-around;
  flex-basis: 40px;
  margin: 10px;
  line-height: 40px;
  font-size: 18px;
  background-color: #394354;
}

.latest-price .icon-xinhao {
  padding-right: 10px;
}

.latest-price .icon-xinhao {
  padding-right: 10px;
}

.latest-price span:last-child .iconfont {
  font-size: 20px;
  vertical-align: baseline;
}

/* 最新价 */

/* 表格 */

.trade-plate .ant-table-thead > tr > th {
  border-bottom-color: #585858;
}

/* 表格 */

/* trade-form */

.property-info {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.property-info .recharge-link {
  display: inline-block;
  margin-left: 60px;
  padding: 10px 20px;
  border: none;
  color: #d4a668;
  background-color: #343c4c;
  box-shadow: 0 0 15px #252b36;
}

.trade-form {
  position: absolute;
  top: 30px;
  left: 5%;
  width: 42%;
}

.trade-form:last-child {
  left: auto;
  right: 5%;
}

.trade-form li {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.trade-form li:nth-child(2n-1) {
  margin-right: 40px;
}

.trade-form li .trade-form-name {
  z-index: 2;
  position: absolute;
  left: 11px;
  top: 10px;
  transition: 0.2s ease;
}
.trade-form li .has-value,
.trade-form li .ant-input:focus + .trade-form-name {
  transform: translate3d(0, -100%, 0);
  font-size: 12px;
  padding: 0 5px;
  background-color: #292f3d;
}
.trade-form li .ant-input:focus + .trade-form-name {
  color: #d4a668;
}

.trade-form li .trade-form-name.market {
  top: 44px;
}

.trade-form li .trade-form-coinName {
  z-index: 2;
  position: absolute;
  right: 11px;
  bottom: 10px;
}

.trade-form li .trade-form-coinName.market {
  top: 44px;
}

.trade-form li .trade-form-tips {
  color: #cfd2a6;
}

.trade-form li .trade-form-txt {
  display: flex;
  justify-content: space-between;
  width: 270;
  margin: 10px 0 10px -50px;
}

.trade-form .ant-input-number-handler-wrap {
  width: 30px;
  opacity: 1;
  background-color: #343c4c;
}

.trade-form .ant-input-number-handler {
  text-align: center;
}

.trade-form .ant-input-number-handler-up-inner,
.trade-form .ant-input-number-handler-down-inner {
  right: 10px;
  color: #dadada;
  font-size: 14px;
}

.trade-form .toCNY {
  color: #999;
}

/* trade-form */

.trade-form .trade-form-total {
  width: 100%;
  text-align: center;
}

.trade-form .ant-btn {
  width: 100%;
  margin-top: 10px;
  color: #dadada;
}

.trade-form .ant-btn:disabled,
.trade-form .ant-btn:disabled:hover {
  color: #999;
  background-color: #474747;
  border-color: #5d5d5d;
}


/* 下拉菜单 */

.content.trade .ant-dropdown {
  border: 1px solid #6e6e6e;
}

.content.trade .ant-dropdown-menu-item {
  padding: 10px 12px;
  color: #dadada;
  background-color: #2d3443;
}

.content.trade .ant-dropdown-menu-item:hover {
  color: #d4a668;
  background-color: #545861;
}

/* 下拉菜单 */
