.finance-content .withdraw-expend li{
  display: flex;
  padding: 4px 0;
}
.finance-content .withdraw-expend li>div{
  width: 50%;
  display: flex;
  font-size: 12px;
}
.finance-content .withdraw-expend .title{
  width: 120px;
  text-align: right;
  margin-right: 20px;
}