.content.user {
  padding: 20px 0 40px;
}
.user-bar {
  width: 200px;
  margin-right: 20px;
  padding-bottom: 40px;
  color: #666;
  color: #dadada;
  background-color: #292f3d;
}
.user-cont {
  flex: 1;
  padding: 40px 30px;
  color: #dadada;
  background-color: #292f3d;
}

.user-header {
  padding: 20px 0;
  border-bottom: 1px solid #595959;
  text-align: center;
  color: #dadada;
  background-color: #242b38;
}
.user-avatar {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #dadada;
  font-size: 20px;
  background-color: #d4a668;
}
.user-nav {
  margin-top: 20px;
}
.user-nav .user-link {
  display: block;
  color: #dadada;
  line-height: 46px;
  text-align: center;
  border-left: 2px solid transparent;
}
.user-nav .user-link.active {
  color: #d4a668;
  border-left-color: #d4a668;
}
.user-nav .user-link > .iconfont {
  padding-right: 10px;
}
.payment-cell-form .ant-form-item-label > label {
  color: #dadada;
}
