/* 全局样式 */

html,
body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  color: #333;
}

#root {
  position: absolute;
  min-height: 100%;
  width: 100%;
  min-width: 1200px;
}

.container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  min-width: 1200px;
  padding-bottom: 347px;
  background-color: #353c4a;
}

.content-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
}

.content {
  position: relative;
}

.page-loading {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: #353c4a;
  z-index: 10;
}

.container-loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.ant-spin-spinning {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link,
a:visited {
  color: rgb(153, 153, 153);
  text-decoration: none !important;
}

a:hover {
  color: #e8e8e8;
  outline: none;
  text-decoration: none;
}

/* 全局样式 */

/* 覆盖antd样式 */

:root .ant-table {
  color: #e8e8e8;
}

:root .ant-table-column-sorter .anticon-caret-up,
:root .ant-table-column-sorter .anticon-caret-down {
  color: #e8e8e8;
}

:root .ant-table-thead > tr > th {
  color: #e8e8e8;
  border-bottom-color: #d4a668;
  background-color: #151a22;
}

:root .ant-table-tbody > tr > td {
  border-bottom-color: #5a5959;
  background: #232a36;
}

:root .ant-table-placeholder {
  color: #e8e8e8;
  background: #232a36;
  border-bottom: 0;
}

:root .ant-table-tbody > tr.ant-table-row:hover > td {
  cursor: pointer;
  background-color: #1b2029;
}

:root .ant-table-column-sorter-up {
  margin-bottom: 2px;
}

:root .ant-table-column-sorter-down {
  margin-top: 2px;
}

:root .ant-tabs-tab {
  color: #e8e8e8;
}

:root .ant-steps-item .ant-steps-item-title {
  color: #fff !important;
}

:root .steps-content {
  background-color: #363c49;
  color: #e8e8e8;
}

:root .ant-table-tbody > tr.ant-table-expanded-row,
:root .ant-table-tbody > tr.ant-table-expanded-row > td {
  background-color: #353c4a;
}

:root .ant-table-tbody > tr.ant-table-expanded-row:hover > td {
  background-color: #353c4a;
}

:root .ant-pagination-prev .ant-pagination-item-link {
  color: #e8e8e8;
  border-color: #5a5959;
  background: #313643;
}

:root .ant-pagination-next .ant-pagination-item-link {
  color: #e8e8e8;
  border-color: #5a5959;
  background: #313643;
}

:root .ant-pagination-item {
  color: #e8e8e8;
  border-color: #5a5959;
  background: #313643;
}

:root .ant-pagination-item:hover,
:root .ant-pagination-item-active {
  color: #e8e8e8;
  border-color: #d4a668;
  background: #313643;
}

:root .ant-pagination-item a {
  color: #e8e8e8;
}

:root .ant-pagination-item-active a {
  color: #d4a668;
}

:root .ant-pagination-disabled a.ant-pagination-item-link,
:root .ant-pagination-disabled:hover a,
:root .ant-pagination-disabled:focus a,
:root .ant-pagination-disabled :root .ant-pagination-item-link,
:root .ant-pagination-disabled:hover :root .ant-pagination-item-link,
:root .ant-pagination-disabled:focus :root .ant-pagination-item-link {
  color: #5a5959;
  border-color: #5a5959;
  background: #313643;
}

:root .ant-input {
  color: #e8e8e8;
  background-color: #292f3d;
}

:root .ant-input-search-icon {
  color: #e8e8e8;
}

:root .ant-input-group-addon {
  color: #e8e8e8;
  cursor: pointer;
  background-color: #d4a668;
}

:root .ant-select .ant-select-selection {
  color: rgb(238, 238, 238);
  font-size: 12px;
  background-color: #252b36;
}
:root .ant-select .ant-select-arrow {
  color: #e8e8e8;
}

:root .ant-select-open .ant-select-arrow,
:root .ant-select:hover .ant-select-arrow {
  color: #d4a668;
}

:root .ant-select-dropdown-menu {
  border: 1px solid #585858;
  background-color: #252b36 !important;
}

:root .ant-select-dropdown-menu-item {
  color: #e8e8e8;
  padding: 10px 12px;
  background-color: #252b36;
}

:root .ant-select-dropdown-menu-item-active {
  color: #d4a668;
  background-color: #434447;
}

:root .ant-select-dropdown-menu-item:hover,
:root .ant-select-dropdown-menu-item-selected {
  color: #d4a668;
  background-color: #434447;
}
/* 覆盖antd样式 */

/* 公共样式 */
.header {
  z-index: 10;
  position: relative;
  height: 68px;
  padding: 0 176px 0 206px;
  border-bottom: 1px solid rgba(204, 210, 218, 0.16);
  line-height: 68px;
  color: rgb(153, 153, 153);
  background-color: rgb(1, 4, 6);
}

.header:hover {
  background-color: rgba(1, 4, 6, 0.9);
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 206px;
  height: 100%;
  text-align: center;
}

.nav-bar {
  float: left;
  margin-left: 10px;
  margin-left: 0;
  margin-bottom: 0;
}

.nav-bar li {
  float: left;
  margin: 0 2px;
}

.nav-bar li a {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 20px;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.nav-bar li a:hover {
  color: rgb(170, 136, 89);
  border-bottom-color: rgb(170, 136, 89);
}

.nav-bar li a.active {
  color: rgb(170, 136, 89);
  border-bottom-color: rgb(170, 136, 89);
}

.user-status {
  float: right;
}

.user-status .iconfont {
  padding-right: 5px;
}

.user-status a {
  padding: 0 5px;
}

.user-status a:hover {
  color: rgb(250, 250, 250);
}

.select-bar {
  position: relative;
  min-width: 150px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.select-bar.language {
  position: absolute;
  top: 0;
  right: 20px;
}

.select-bar .icon-jiantou_down:before {
  display: inline-block;
  transition: 0.2s ease-in;
}

.select-bar:hover .icon-jiantou_down:before {
  transform: rotate(180deg);
}

.select-bar .icon-diqiu {
  float: left;
  margin-left: 5px;
}

.select-bar .icon-jiantou_down {
  float: right;
  margin-right: 5px;
}

.select-list {
  position: absolute;
  min-width: 100px;
  right: 10px;
  top: 0;
  opacity: 0;
  border: 1px solid rgba(204, 210, 218, 0.16);
  background-color: rgb(1, 4, 6);
  transition: 0.2s;
}

.select-bar:hover .select-list {
  top: 67px;
  opacity: 1;
}

.select-list li {
  height: 40px;
  width: 100%;
  line-height: 40px;
}

.select-list li:hover {
  color: rgb(235, 235, 235);
}

.select-list li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(153, 153, 153);
  background-color: #2c3644;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-main {
  padding: 60px 0 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-logo {
  float: left;
  width: 135px;
  padding-left: 10px;
  font-size: 12px;
  text-align: center;
}

.footer-main-right {
  float: right;
  width: 74%;
}

.footer-nav {
  float: left;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-nav > a {
  min-width: 150px;
  line-height: 30px;
}

.wexin_content {
  position: relative;
  margin-right: 20px;
}

.wexin_content img {
  width: 120px;
  height: 120px;
  display: none;
  position: absolute;
  top: 20px;
  left: -50px;
  background: #e9e9e9;
}

.wexin_content:hover img {
  display: block;
}

.footer-contact {
  float: right;
  margin-right: 2%;
  color: #e8e8e8;
}

.footer-contact li {
  margin-bottom: 10px;
}

.footer-contact li:last-child {
  color: rgb(153, 153, 153);
}

.footer-contact li > a {
  padding-right: 20px;
}

.footer-link {
  padding: 10px 0;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-link a {
  padding-left: 15px;
}

.footer-copyright {
  font-size: 12px;
  padding: 15px 0;
}

.icon-zhuyishixiang {
  color: #d42f2f;
}

.font-color-primary {
  color: #d4a668;
}

.font-color-green {
  color: #13ae50;
}

.font-color-red {
  color: #f51726;
}

.ant-btn-buy {
  color: #fff !important;
  border-color: #13ae50 !important;
  background-color: #13ae50 !important;
}

.ant-btn-buy:hover {
  border-color: #87d068 !important;
  background-color: #87d068 !important;
}

.ant-btn-sell {
  color: #fff !important;
  border-color: #f51726 !important;
  background-color: #f51726 !important;
}

.ant-btn-sell:hover {
  border-color: #f50 !important;
  background-color: #f50 !important;
}

/* 公共样式 */

/* 登录注册 */

.form-box {
  width: 460px;
  margin: 110px auto 130px;
  padding: 50px 56px;
  text-align: center;
  background-color: #fff;
}

.form-box h1 {
  font-size: 20px;
  font-weight: normal;
}

.attention {
  margin-top: 20px;
}

.safety-site {
  display: inline-block;
  padding: 0 15px;
  font-weight: bolder;
  color: #6e6e6e;
  font-size: 16px;
  border: 2px solid #dfdfdf;
}

.safety-site .iconfont {
  padding-right: 5px;
  color: rgb(5, 201, 5);
}

.safety-site em {
  color: rgb(5, 201, 5);
}

.error-tip {
  height: 30px;
  margin-top: 5px;
  color: #d42f2f;
  font-size: 12px;
  text-align: left;
}

.form-list {
  text-align: left;
}

.form-list li {
  position: relative;
  margin-bottom: 15px;
}

.form-list .iconfont {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.form-list input.text {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline: none;
  line-height: 40px;
  border: 1px solid #dfdfdf;
}

.form-list input.text:focus {
  border-color: #d4a668;
}

.form-list input.error {
  border-color: #d42f2f;
}

.form-list input.button {
  width: 100%;
  height: 40px;
  color: #e8e8e8;
  outline: none;
  border: none;
  transition: 0.1s;
  background-color: #d4a668;
}

.form-list input.button:hover {
  background-color: #c08b47;
}

.form-list input.button.disabled {
  background-color: #c2c2c2;
}

.form-list input.checkbox {
  margin-right: 8px;
}

.form-list a:link,
.form-list a:visited {
  color: #d4a668;
}

.form-list a:hover {
  text-decoration: underline;
}

.form-list button.inner-button {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 38px;
  padding: 0 15px;
  border: none;
  color: #d4a668;
  outline: none;
}

.form-list button.inner-button:hover {
  color: #b68c03;
}

.form-list button.inner-button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 24px;
  transform: translateY(-50%);
  background-color: #dfdfdf;
}

.form-box .ant-btn {
  width: 100%;
}

.form-box-desc {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

.form-box-text {
  margin-top: 40px;
  font-size: 14px;
}

.button {
  height: 40px;
}

.button.normal {
  color: #666;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
}

.button.primary {
  border: none;
  color: #e8e8e8;
  background-color: #d4a668;
}

.button.full {
  width: 100%;
}

.button.disabled {
  background-color: #c2c2c2;
}

.stress {
  color: #d4a668;
  font-weight: normal;
}

.graphic-popup {
  z-index: 100000 !important;
}

.graphic-popup .form-list,
.graphic-popup .error-tip {
  width: 400px;
  margin: 0 auto;
}

.inner-graphic {
  position: absolute;
  top: 50%;
  right: 1px;
  height: 30px;
  border-left: 1px solid #dfdfdf;
  cursor: pointer;
  transform: translateY(-50%);
}

/* 登录注册 */

/* 广告条 */

.scroll-notice {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: rgba(35, 31, 32, 0.4) 0px 3px 7px 0px;
  background-color: rgb(45, 52, 67);
}

.scroll-notice .iconfont {
  position: absolute;
  top: 50%;
  left: 80px;
  color: #d4a668;
  transform: translateY(-45%);
}

.scroll-notice .ant-carousel {
  width: 80%;
  margin: 0 auto;
}

.scroll-notice .notice-more,
.scroll-notice a {
  display: block;
  line-height: 40px;
  color: #c9d2a6;
  cursor: pointer;
}

.scroll-notice .notice-more {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
}

.scroll-notice .slick-list,
.scroll-notice .slick-track,
.scroll-notice .slick-slider {
  height: 40px !important;
}

/* 广告条 */

.ant-btn-introduction,
.ant-btn-introduction:hover {
  height: 30px;
  padding: 0 12px;
  border: none;
  line-height: 30px;
  color: #c08b47;
  background-color: rgb(52, 60, 76);
  box-shadow: 0px 3px 7px 0px rgba(35, 31, 32, 0.7);
}

.ant-tooltip-inner {
  padding: 8px 15px !important;
}

.withdraw_content .ant-list-sm .ant-list-item {
  padding: 2px 0;
  border-bottom: 1px solid #5f6f5f;
}

.bbex_notice .ant-list-header {
  border-bottom: 0 !important;
}

.change_pwd_modal .ant-form-item {
  margin-bottom: 16px;
}

.c2c-form .line_li {
  margin-top: 16px;
}

.c2c-form .ant-input-group-addon {
  width: 120px;
}

.c2c-form .aviable_symbol {
  margin: 20px 0;
  text-align: right;
}

.c2c-form .c2c_submit {
  text-align: right;
}

.security_con .ant-row-flex {
  height: 50px;
}

/* 交易历史详情 */

.expend_content .expent_title {
  display: flex;
}

.expend_content .ant-list-split .ant-list-header {
  border-bottom: 1px solid #4f6f4f;
}

.expend_content .expent_title li {
  width: 20%;
  text-align: center;
  color: #e8e8e8;
}

.expend_content .list_item {
  width: 100%;
  display: flex;
}

.expend_content .list_item li {
  width: 20%;
  text-align: center;
  color: #e8e8e8;
}

.expend_content .ant-list-split .ant-list-item {
  border-bottom: 1px solid #4f6f4f;
}

.expend_content .ant-list-header {
  padding-bottom: 0;
  padding-top: 0;
}

/* 用户中心 */

.user-cont .ant-table-expand-icon-th {
  display: none;
}

.user-cont .ant-table-row-expand-icon-cell {
  display: none;
}

.user-cont .ant-table-expanded-row td:nth-child(1) {
  display: none;
}

/* 我的交易 */

.transation_content .ant-table-expand-icon-th {
  display: none;
}

.transation_content .ant-table-row-expand-icon-cell {
  display: none;
}

.transation_content .ant-table-expanded-row td:nth-child(1) {
  display: none;
}

/* 交易历史  */

.trade_history .ant-table-expand-icon-th {
  display: none;
}

.trade_history .ant-table-row-expand-icon-cell {
  display: none;
}

.trade_history .ant-table-expanded-row td:nth-child(1) {
  display: none;
}

/* 谷歌验证绑定拦截弹框 */

.verification-popup {
  text-align: center;
}

.verification-popup .icon-icon {
  font-size: 70px;
  color: #ea0053;
}

.verification-popup .message {
  padding: 10px;
  font-size: 16px;
  color: #ea0053;
}

.verification-popup .input-verification:link,
.verification-popup .input-verification:visited {
  display: block;
  height: 78px;
  margin: 10px 0;
  padding: 20px;
  padding-left: 60px;
  color: #333;
  font-size: 16px;
  line-height: 2;
  background: #f8f8f8 170px 18px url(./assets/images/verify_google.png) no-repeat;
  border: 1px solid #eaeaea;
}

.verification-popup .input-verification:hover {
  color: #333;
}

/* 验证框 */

.verification_modal .ant-modal-content {
  background-color: #363c49;
}

.verification_modal .ant-modal-footer {
  border-top: 0;
}

.verification_modal .verification_content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.verification_modal .icon-icon {
  font-size: 70px;
  color: #d4a668;
}

.verification_modal p {
  color: #e8e8e8;
  display: flex;
  justify-content: center;
}

.verification_modal .footer_btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.verification_modal .footer_btn button {
  width: 100px;
  height: 40px;
}

.verification_modal .footer_btn button:nth-child(1) {
  margin-right: 20px;
}

.verification_modal .ant-modal-close-x {
  color: #e8e8e8;
}

.verification_modal .ant-modal-close-x:hover {
  color: #d4a668;
}

.verification_modal {
  text-align: center;
  white-space: nowrap;
}

.verification_modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.verification_modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.trade-cont .payment-box .ant-tabs-tab {
  color: #e8e8e8;
}

.trade-cont .payment-box .ant-tabs-tab i {
  color: #d4a668;
}

.trade-cont .payment-box .ant-tabs-bar {
  border-bottom: 1px solid #5f5f5f;
}

.trade-cont .payment-box .extra-cont {
  color: #e8e8e8;
}

.merge-dropdown .ant-select-dropdown-menu-item:hover,
.merge-dropdown .ant-select-dropdown-menu-item-selected {
  color: #d4a668;
  background-color: #434447;
}

/* 绑定手机号 */

.change_pwd_modal .get_mobile_code {
  position: absolute;
  right: -110px;
  top: -6px;
}
